---
layout: default
---
<section id="sponsors">
  <ul id="largesponsors">
    <li><a href="http://www.usfirst.org/"><img src="/style/images/FIRST_Logo_NEW" /></a></li><!--
   --><li><a href="http://www.firsthumans.org/"><img src="/style/images/Just_Humans.png" /></a></li><!--
    --><li><a href="http://www.newroads.org/"><img src="/style/images/newroads.png" /></a></li>
  </ul>
</section>
{% for post in site.posts %}
  <article>
    <!-- {{ post.date | date: "%b %-d, %Y" }} -->
    <h1><a class="post-link" href="{{ post.url | prepend: site.baseurl }}" data-disqus-identifier="{{ post.url }}">{{ post.title }}</a></h1>
      {% if post.content contains "<!-- more -->" %}
        {{ post.content | split:"<!-- more -->" | first % }}
      {% else %}
        {{ post.content }}
      {% endif %}
    <span class="date"><a href="{{ post.url | prepend: site.baseurl }}#disqus_thread">0 Comments</a> | Posted on {{ post.date | date: '%B %-d, %Y' }}</span>
  </article>
{% endfor %}

<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
