<footer>
	<div id="footer-container">
		<ul>
			<li id="copyright">
				This website is &copy; Copyright 2015 Humans, FRC Team 4501. &nbsp; Originally designed by <a href="http://www.Twitter.com/i300_">Jerish Brown</a>. &nbsp; Currently mannaged by Anton Zelkin.
			</li><!--
			--><li id="footer-sponsors">
				<a href="http://newroads.org/"><img src="/style/images/newroads-small.png" /></a><a href="http://www.firstinspires.org/"><img src="/style/images/frc-small.png" /></a>
			</li>
		</ul>
	</div>
</footer>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'humans4501'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = '//' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
