<footer>
	<div id="footer-container">
		<ul>
			<li id="copyright">
				This website is &copy; Copyright 2014 Humans, FRC Team 4501. Designed by <a href="http://github.com/i300">Jerish Brown</a>.
			</li><!--
			--><li id="footer-sponsors">
				<a href="http://newroads.org/"><img src="/style/images/newroads-small.png" /></a><a href="http://nasa.gov/"><img src="/style/images/nasa-small.png" /></a><a href="http://usfirst.org/"><img src="/style/images/frc-small.png" /></a>
			</li>
		</ul>
	</div>
</footer>