<!DOCTYPE html>
<html>
  	{% include head.html %}
    <body>
    {% include header.html %}
    <main>
		{{ content }}
    </main>
    <section id="hashtag">
		<a href="https://twitter.com/search?f=realtime&amp;q=%23frc4501">#FRC4501</a>
    </section>
    <section id="socialmedia">
		<a href="https://www.facebook.com/HumansRobotics"><img src="{{ "/style/images/facebook.png" | prepend: site.baseurl }}" /></a><a href="https://www.twitter.com/humans4501"><img src="{{ "/style/images/twitter.png" | prepend: site.baseurl }}" /></a>
    </section>
    {% include footer.html %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  	<script type="text/javascript" src="{{ "/script/site.js" | prepend: site.baseurl }}"></script>
    </body>
</html>